@import "./../../sass/colors.scss";

.link,
.link:visited {
  text-decoration: none;
  color: $dark-grey;
}

.listItem {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 0 10px;
  padding: 3%;

  img {
    width: 10%;
    height: 10%;
  }
  &_shipping {
    margin-left: 5px;
    margin-top: 2px;
    width: 15px !important;
    height: 15px !important;
  }
  &_details {
    width: 60%;
    text-align: left;
    margin-left: 5%;
    &-price {
      font-weight: 500;
      margin-top: 5px;
      font-size: 18px;
    }

    &-shipping {
      height: 20px;
    }
  }

  &_location {
    width: 10%;
    padding-top: 30px;
    text-align: left;
    font-size: 12px;
    color: $mid-grey;
  }
}

.listItem::after {
  background-color: #efefef;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 95%;
}
